<h1>Статьи</h1>

<ol>
  <% @articles.each do |article| %>
  <li>
      <%= link_to article.title, article %>
  </li>
<% end %>
</ol>

<button><%= link_to "Новая статья", new_article_path %></button>

