<h1>Статьи</h1>

<ol>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <%end%>
  <% end %>
</ol>

<button><%= link_to "Новая статья", new_article_path %></button>

